img {
  padding: 2%;
}

.card{
  padding: 30%;
  background-image: url("https://images.pexels.com/photos/6692128/pexels-photo-6692128.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

.homePageContents{
  padding: 20%;
  background-image: url(./images/peaches.jpeg);
  background-size: cover;
  background-attachment: fixed;

}
form {

 max-width: 20%;
 max-height: 20%;
 background-color: none;
}
.App {
  text-align: center;
  font-family: sans-serif;
  height: 100%;
  background-color: none;

}
.navbar{
  background-color: tan;
  padding: 20%;
  display: flex;
  max-height: 11%;
  box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.2);

}

h6 {
  border: 3px solid rgb(143,164,117, 0.3);
}



.inspirationContainer {
  padding-top: 10%;
  padding-left: 7%;
  padding-right: 3%;
  height: 50%;
  width: 50%;
  background-color: rgb(255,255,255,0.8);

}

.instructions {
  background-color: rgb(255,255,255,0.8);
}

ul {
  background-color: rgb(255,255,255,0.8);
  padding-right: 12%;
}

.nav-link{
  color: white;
}

.button .btn {
  background-color: tan;
  width: auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-left: 30%;
  font-size: 14px;
  margin-top: 2%;
  margin-bottom: 2%;
}
