@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

.drinkPageStyle {
  background-image: url("https://img.freepik.com/free-photo/summer-refreshing-cocktail-cold-sweet-drink-modern-hard-light-dark-shadow-putty-background-top-view_164638-12802.jpg?size=626&ext=jpg") !important;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.drinkScroll img{
  border: 1px solid black;
  padding: 20px;
}

.drinkScroll h1{
  display: flex;
  justify-content: center;
  padding-bottom: 4%;

}

/* .drinkMargin h1{
  color: #3b5a64;
} */

.drinkContainer {
  display: flex !important;
  flex-direction: column;

  margin-right: 90% !important;
  padding-left: 16vw;
  padding-right: 3%;
  padding-bottom: 1%;
  margin-bottom: 5%;
  max-width: 90% !important;
  min-width: 60% !important;
  min-height: 110vh;

}

.buttonDrink {
  background-color: tan;
  width: auto;
  border-radius: 10px;
  font-size: 18px;
  border-color: none !important;
  margin-top: 1%;

}
.drinkMargin{
  margin-top: 11%;
}
.drinkContents{
  background-color: rgba(255,255,255,0.83);
  min-height: 80vh;
}
.drinkMainContainer{
  display: flex;
  justify-content: center;
}

.drinkInfo, td{
  display: flex;
}

.buttonDrink{
  padding: none !important;
}
.drinkScroll, td{
  display: flex;
}
.drinkHeader{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.drinkInfo{
  display: flex;
  flex-direction: column;
}
.drinkInstructions{
  padding-right: 10%;
}

.drinkInfo h4{
  border-bottom: 1px solid #3b5a64;
  border-top: 1px solid #3b5a64;
  padding-bottom: 5px;
  padding-top: 5px;
}


.drinks{
  padding-right: 10%;
}

.scrollDrink{
  display: flex;
  flex-direction: column;

}
.box{
  padding: 1px !important;
}
.drinksM {
  display: flex;
  max-width: 90vw;
  max-height: 60vh;
  overflow-y: scroll;
  justify-content: center;
}

.homePageStyle a {
  color: white;
}
/* navbar navbar navbar-expand navbar-light fixed-top {
  padding: 1px;
} */

.navbar h3{
  display: flex;
  align-items: center;
}
.homePageStyle a:hover {
  color: black;
}

.recipePageHead {
  margin-top: 14vh;
  max-height: 15vh;
  color: white;
  font-size: 180px;
  padding: 4px;
}
.navbar{
  max-height: 10vh !important;
  padding-top: 1px;
  padding-bottom: 1px;

}
.navbar a{
  font-size: 25px !important;
}
.navbar img{
  max-width: 100px;
  min-width: 90px;
  max-height: 100px;
  min-height: 90px;
}
.listRecipe {
  background-image: url("https://www.varaistores.com/UploadImages/7ffa7e7f-3ddb-4d72-b450-9a82dacaf956_blog.jpg");
  background-color: rgba(255, 255, 255, 0.7);
  background-size: cover;
  background-position: left;
  min-height: 100vh;
  margin-top: 9vh;
  display: flex;
  justify-content: center;
}


.recipePage {
  background-image: url("https://www.varaistores.com/UploadImages/7ffa7e7f-3ddb-4d72-b450-9a82dacaf956_blog.jpg");
  background-color: rgb(255, 255, 255, 0.7);
  background-size: cover;
  background-position: left;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.itemCard {
  padding: 10px;
}

.itemCard a {
  color: black;
}

.recipeContainer {
  display: flex;
  grid-template-columns: auto auto auto auto;
  flex-wrap: wrap;
  max-width: 68vw;
  justify-content: center;
}

.allRecipes {
  min-width: auto;
  max-width: 85vw;
  max-height: 70vh;
  margin-top: 20vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 80px;
  background-color: rgb(255, 255, 255, 0.7);
  padding: 1%;
  overflow-x: scroll;
  border: 15px solid white;
  border-style: double;
}

.editForm {
  margin-top: 10vh;
  background-color: rgb(255, 255, 255, 0.8);
  min-width: 60vw;
  max-height: 85vh;
  padding: 2%;
  border-radius: 20px;
}
.listRecipe .editForm {
  margin-top: 3%;
}


.newForm {
  margin-top: 10vh;
  background-color: rgb(255, 255, 255, 0.8);
  min-width: 50vw;
  max-height: 80vh;
  padding: 2%;
  padding-top: 3%;
  border-radius: 20px;
}

img {
  padding: 2%;
}

.tableInfo {
  background-color: rgb(255, 255, 255, 0.8);
  margin-top: 10vh;
  max-width: 78vw;
  min-width: 50vw;
  max-height: 70vh;
  border-radius: 20px;
  border-top: none !important;
  overflow-y: scroll;
  padding: 7%;
}

h2 {
  color: white;
}
.scootDown h4{
  font-size: 39px;
}

.card {
  background-image: url("https://images.pexels.com/photos/6692128/pexels-photo-6692128.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

.overallInspire{
  background-image: url("https://www.foodbymaria.com/wp-content/uploads/2020/07/FoodByMaria_Feb2020_MJay.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: left;
  max-height: 120vh;
  min-height: 110vh;
  margin-bottom: 1px;
}
.homePageContents {
  padding-top: 20vh;
  padding-left: 9%;
  background-image: url(./images/peaches.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-width: 100vw;
  min-height: 100vh;
}

.pantryContent {
  background-image: url("https://images.pexels.com/photos/6692128/pexels-photo-6692128.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  display: flex;
  justify-content: center;
  background-position: bottom;
  background-attachment: fixed;
  padding-top: 22vh;
  padding-bottom: 20%;
  min-height: 100vh;
  max-height: 100vh;
}

.homePageStyle {
  background-color: rgb(156, 132, 100, .8);
  border: 13px solid rgb(210, 180, 140);
  backdrop-filter: blur(2px);
  max-width: 80vw;
  max-height: 100vh;
  padding: 1%;
  color: white;
  box-shadow: 61px 71px 71px 7px rgba(255, 255, 255, 0.3);
}

form {
  background-color: none;
}

.App {
  text-align: center;
  max-height: 100vh;
  font-family: 'Open Sans Condensed', sans-serif;
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
}

.randomItems {
  background-color: rgb(255, 255, 255, 0.3);
  min-width: 60vw;
  backdrop-filter: blur(14px);
}

.pant {
  font-size: 140%;
  color: black;
  backdrop-filter: blur(12px);
  overflow-y: scroll !important;
  max-width: 70vw;
  max-height: 100vh !important;
}
.pant h1{
  overflow-y: hidden !important;
}

.inputInstructions {
  color: black;
}

.pantry {
  background-color: white;
  display: inline;
}

.navbar {
  background-image: linear-gradient(200.4deg, rgb(210, 180, 140) 72.2%, rgb(156, 132, 100) 9.5%);
  padding-left: 7vw;
  /* padding-right: 10%; */
  display: flex;
  box-shadow: 18px 17px 71px 7px rgba(0, 0, 0, 0.6);
  max-height: 10vh;

}


h6 {
  border: 3px solid rgb(143, 164, 117, 0.3);
}
.inspirationContainer .scootDown{
  padding-bottom: 1px !important;
  padding-top: 13%;
}
.scroll h4{
  padding-bottom: 1px !important;
  padding-top: 1%;
}
.inspirationContainer {
  display: flex !important;
  flex-direction: column;

  /* margin-top: 6% !important; */
  margin-right: 90% !important;
  padding-left: 16vw;
  padding-right: 3%;
  padding-bottom: 1%;
  margin-bottom: 5%;
  max-width: 50% !important;
  min-width: 60% !important;
  max-height: 110vh;
  background-color: rgb(255, 255, 255, 0.8);
}

td {
  padding: 2%;
  flex-flow: wrap;
  white-space: pre-line;
  display: flex;
}

.meals {
  display: flex;
  max-width: 90vw;
  max-height: 60vh;
  overflow-y: scroll;
  border: 3px solid rgb(143, 164, 117, 0.3);
  /* margin-bottom: 5vh; */
}

.instructions {
  background-color: rgb(255, 255, 255, 0.8);
  padding: 1%;
}

h3 {
  color: rgb(60, 88, 99);
  padding-top: 1%;
}

.navOptions {
  color: white;
}

.nav-link {
  color: white;
}

.nav-link :hover {
  text-decoration: underline;
}

.nav-link {
  font-size: 30% !important;
}


/* h1 {
  font-size: 20px;
} */

.listButton {
  margin-top: 90vh;
  max-height: 3vh;
  padding: 0px;
  box-shadow: 0px 15px 2px 4px white;
}

.listButton:hover {
  box-shadow: 30px 3px 60px 0 rgba(0, 0, 0, 0.24);
}

.button .btn {
  background-color: tan;
  width: auto;
  border-radius: 10px;
  /* display: flex;
  justify-content: space-around; */
  /* margin-left: 40%; */
  font-size: 18px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.button .btn:hover {
  background-color: #f2bb54;
  width: auto;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 2%;
  margin-bottom: 2%;
}
/* iphone 5 */
@media only screen and (min-width: 250px) and (max-width: 349px) {
  .overallInspireCard{
    /* margin-bottom: 5% !important; */
    min-height: 100vh !important;
    max-height: 110vh !important;

  }

  a.navbar-brand{
    margin: 0 !important;
  }

  .inspirationContainer{
    max-height: 95vh;
    min-height: 94vh;
    /* margin-top: 7% !important; */
    /* padding-top: 1% !important; */

  }

  .meals{
    max-height: 50vh;
    min-height: 50vh;
    overflow: scroll;
    background-color: white;
    margin-top: -1%;
    font-size: 10px;
  }
  .scootDown{
    margin: 42px 0px 0px 0px !important;
    letter-spacing: 1px;
    line-height: -1px;
  }
  .inspirationContainer .scootDown {
    padding-top: 2% !important;
  }
  .inspirationContainer h4{
    font-size: 12px;
  }

  .scootDown {
    padding-top: 3px !important;
  }
  .scootDown h4{
    font-size: 20px;
    padding-top: 10% !important;

  }
  .scootDown h5{
    font-size: 15px;
    padding-top: 2px !important;
  }

  .homePageStyle{
    box-shadow: none;
  }

  .tableInfo img {
    max-width: 225px;
  }
  .navbar{
    padding: 0.1px;
  }

  .listRecipe .editForm{
    display: flex;
    flex-direction: column;
    font-size: 9px;
    margin-top: 5%;
    padding-top: 5%;
  }
  .listRecipe .newForm{
    min-height: 88vh;
    min-width: 45vh;
    margin-top: 4%;

  }
  .listRecipe .form-control{

    font-size: 9px;
  }
  .allRecipes{
    display: flex;
    margin-left: 16%;
  }

  .allRecipes img{
  max-width: 120px;
  min-width: 50px;
  max-height: 120px;
  min-height: 50px;
  }
  .btn{
    /* display: flex; */
    padding: 1px;

  }
  .listButton{
    box-shadow: none;
    margin-right: 2%;

  }
  .recipeContainer{
    max-height: 60vh;
  }
  .recipePage{
    min-height: 110vh;
  }
  .inspirationContainer{
      display: grid;
      align-items: center;
      min-width: 85vw !important;
  }
  .scootDown {
    margin-top: 20%;
  }

  .navbar img {
      max-width: 62px !important;
      min-width: 30px !important;
      max-height: 62px !important;
      min-height: 30px !important;
}
.navbar a{
  font-size: 10px !important;

}
.navbar h3{
  display: none;
}
.homePageContents{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 30%;
  background-position: bottom;
}

  .meals{
    min-width: 70vw !important;
  }

}


@media only screen and (min-width: 350px) and (max-width: 500px) {
  .homePageStyle{
    box-shadow: none;
  }
  .drinkScroll, td {
    display: inline;
  }
  .drinkInstructions{
    padding: 0;
  }
  .drinkScroll img {
    border: none;
    padding: 2px;
  }
  .drinkContents{
    background-color: rgba(255,255,255,0.63);
    min-height: 80vh;
    margin-top: 10vh;
  }
  .scrollDrink{
    display: flex;
  }

  a.nav-link{
    padding: 5px !important;
  }

  a.navbar-brand{
    margin: 0 !important;
  }
  .tableInfo img {
    max-width: 225px;
  }
  .navbar{
    padding: 0.1px;
    letter-spacing: -0.5px;

  }
  .listRecipe .newForm{
    min-height: 88vh;
    min-width: 45vh;
    margin-top: 4%;

  }

    .allRecipes{
      display: flex;
      margin-left: 16%;

    }

    .allRecipes img{
    max-width: 120px;
    min-width: 50px;
    max-height: 120px;
    min-height: 50px;
    }
    .btn{
      padding: 1px;

    }
    .listButton{
      box-shadow: none;
      margin-right: 2%;

    }
    .recipeContainer{
      max-height: 60vh;
    }
    .recipePage{
      min-height: 100vh;
    }


  .navbar img {
      max-width: 67px !important;
      min-width: 30px !important;
      max-height: 67px !important;
      min-height: 30px !important;
}
.navbar a{
  font-size: 10px !important;

}
.navbar h3{
  display: none;
}
.homePageContents{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 30%;
}
  .inspirationContainer{
     display: grid;
     align-items: center;
     margin-left: 7%;
     margin-right: 7%;
     min-width: 82vw !important;
     min-height: 40vh !important;
     padding: 2%;
  }
  .inspirationContainer .scootDown {
    margin-top: 15%;
  }

  .navbar img {
    padding-right: 1%;
  }
  .pantryContent{
  padding-bottom: 65vh;
  min-height: 100vh;
  max-height: 100vh;
  }
  .randomItems img{
    max-width: 200px !important;
  }
  .pant{
  margin-bottom: 10%;
  margin-top: 1px !important;
  }
  .pant h1{
    overflow: hidden;
  }
  .navbar a{
    font-size: 14px !important;
  }
  .listRecipe .editForm {
    margin-top: 8%;
  }


}

@media only screen and (min-width: 501px) and (max-width: 600px) {
  .navbar{
    padding: 1px;
  }
  a.nav-link{
    padding: 0% !important;
  }
  a.navbar-brand{
    margin: 0 !important;
  }
  .listRecipe .newForm{
    min-height: 88vh;
    min-width: 45vh;
    margin-top: 4%;
  }

  .navbar img {
    min-width: 40px !important;
    min-height: 40px !important;
  }
  .pantryContent{
    min-height: 100vh;
  }
  .pant h1{
    overflow: hidden !important;
  }
  .navbar .nav-link{
    font-size: 14px;
  }
}

/* ipad */
@media only screen and (min-width: 766px) and (max-width: 779px) and (min-height: 1022px) and (max-height: 1028px) {

  .overallInspireCard{
    margin-top: 20%;
    align-items: center;

  }
  a.navbar-brand{
    margin: 0 !important;
  }
  .inspirationContainer{
    max-height: 75vh;
    min-height: 60vh;
    margin-top: 1% !important;
    padding-top: 1% !important;
    outline: 10px solid white;
    outline-offset: 10px;

  }
  .meals{
    max-height: 50vh;
    min-height: 50vh;
    overflow: scroll;
    background-color: white;
    margin-top: -1%;
    font-size: 18px;
  }

  .scootDown h4{
    font-size: 30px;
    padding-top: 10% !important;

  }
  .scootDown h5{
    font-size: 30px;
    padding-top: 2px !important;
  }
  .inspirationContainer .scootDown {
    padding-top: 2% !important;
  }
  .inspirationContainer h4{
    padding-top: 1% !important;
  }
  .listRecipe .newForm{
    min-height: 50vh !important;
    max-height: 50vh !important;
    min-width: 85vw !important;
    margin-top: 13% !important;
    padding-top: 5%;


  }
  .listRecipe .form-control{
    min-height: 5vh;

  }
  .listRecipe .editForm{
    min-height: 55vh !important;
    max-height: 55vh !important;
    min-width: 66vw;
    margin-top: 11%;
  }

}

/* ipad pro */
@media only screen and (min-width: 1021px) and (max-width: 1026px) and (min-height: 1364px) and (max-height: 1368px) {
  .overallInspireCard{
    margin-top: 20%;
  }
  a.navbar-brand{
    margin: 0 !important;
  }
  .inspirationContainer{
    max-height: 85vh;
    min-height: 70vh;
    margin-top: 1% !important;
    padding-top: 1% !important;
    outline: 10px solid white;
    outline-offset: 10px;

  }
  .inspirationContainer .scootDown {
    padding-top: 2% !important;
  }
  .inspirationContainer h4{
    padding-top: 1% !important;
  }
  .listRecipe .newForm{
    min-height: 50vh !important;
    max-height: 50vh !important;
    min-width: 85vw !important;
    margin-top: 13% !important;
    padding-top: 5%;


  }
  .listRecipe .form-control{
    min-height: 5vh;

  }
  .listRecipe .editForm{
    min-height: 55vh !important;
    max-height: 55vh !important;
    min-width: 66vw;
    margin-top: 11%;
  }

}

@media only screen and (min-width: 360px) and (max-width: 380px) and (min-height: 800px) and (max-height: 813px) {

  .inspirationContainer{
    max-height: 85vh;
    min-height: 70vh;
    margin-top: 1% !important;
    padding-top: 1% !important;
    outline: 10px solid white;
    outline-offset: 10px;

  }

  a.nav-link{
    padding: 0% !important;
  }
  a.navbar-brand{
    margin: 0 !important;
  }
  .inspirationContainer .scootDown {
    padding-top: 2% !important;
  }
  .inspirationContainer h4{
    padding-top: 1% !important;
  }

  .navbar{
    max-height: 7vh !important;
  }
  .allRecipes{
    max-width: 90vw !important;
    min-height: 70vh;
    margin-top: 14vh;
  }
  .navbar a{
  display: inline !important;
  }
  .recipePage{
    min-height: 100vh !important;
  }
  .listRecipe .newForm{
    min-height: 70vh;
    min-width: 85vw;
    margin-top: 13%;
  }
  .listRecipe .editForm{
    min-height: 70vh;
    min-width: 38vw;
    margin-top: 11%;
  }

}

@media only screen and (min-width: 600px) and (max-width: 1025px) {
  .inspirationContainer {
    padding-top: -1%;
  }
  .listRecipe .newForm{
    min-height: 88vh;
    min-width: 45vh;
    margin-top: 4%;

  }

    .navbar img {
        max-width: 96px !important;
        min-width: 30px !important;
        max-height: 96px !important;
        min-height: 30px !important;
  }
  .navbar a{
    font-size: 25px !important;
  }
  .listButton {
    box-shadow: 0px 0px 0px 0px white;
  }
  .inspirationContainer{
     display: grid;
     margin-left: 7%;
     margin-right: 7%;
     margin-top: 17%;
     min-width: 80%;
     padding: 2%;

  }

  .navbar-brand {
      font-size: 1.25rem;
      text-decoration: none;
      white-space: nowrap;
  }


    .navbar h3 {
      display: none;
    }


  .fixed-top {
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.listRecipe .editForm {
  max-height: 75vh ;
  min-height: 30vh !important;
  margin-top: 10%;


}
.listRecipe .newForm {
  max-height: 80vh ;
  min-height: 40vh;
  max-width: 100vw ;
  min-width: 40vw;

}

}
/* ipad */
@media only screen and (min-width: 1000px) and (max-width: 1524px) and (min-height: 1366px) and (max-height: 1500px) {

  .inspirationContainer {
    padding-top: 1%;
  }
  .listRecipe .editForm{
    max-height: 50vh;
  }
  .listRecipe .newForm{
    max-height: 70vh;
  }
}
/* iphone 6/7/8/plus */
@media only screen and (min-width: 413px) and (max-width: 415px) and (min-height: 735px) and (max-height: 737px) {


    .overallInspireCard{
      /* margin-bottom: 5% !important; */
      min-height: 100vh !important;
      max-height: 110vh !important;
      background-position: center !important;
    }

    .inspirationContainer{
      max-height: 95vh;
      min-height: 94vh;
      align-items: center;
      /* margin-top: 7% !important; */
      /* padding-top: 1% !important; */

    }

    .meals{
      max-height: 60vh;
      min-height: 60vh;
      overflow: scroll;
      background-color: rgba(255,255,255,0.8);
      margin-top: -1%;
      font-size: 10px;
    }
    .scootDown{
      margin: 46px 0px 0px 0px !important;
      letter-spacing: 1px;
      line-height: -1px;
    }
    .inspirationContainer .scootDown {
      padding-top: 2% !important;
    }
    .inspirationContainer h4{
      font-size: 15px;
    }

    .scootDown {
      padding-top: 3px !important;
    }
    .scootDown h4{
      font-size: 22px;
      padding-top: 10% !important;

    }
    .scootDown h5{
      font-size: 15px;
      padding-top: 2px !important;
    }



.meals .scroll{
  max-height: 80vh;
}

.inspirationPage{
  max-height: 80vh;
}
  .tableInfo{
  margin-top: 10vh;
  max-width: 90vw !important;
  }
  .tableInfo .btn a{
    padding: 1px !important;
    text-align: center;
  }

}

@media only screen and (min-width: 742) and (max-width: 1000px) and (min-height: 1366px) and (max-height: 1500px) {


  .listRecipe .editForm{
    max-height: 50vh;
  }
  .listRecipe .newForm{
    min-height: 80vh;
  }
}
/* iphone x */
@media only screen and (min-width: 374px) and (max-width: 376px) and (min-height: 811px) and (max-height: 813px){

  .inspirationPage{
    /* max-height: 40vh;
    min-height: 41vh;
    margin-top: 10%; */

    display: flex;
    overflow: hidden;
  }
  a.navbar-brand{
    margin: 0 !important;
  }

.meals{
  padding-left: 4%;
}
.inspirationContainer{
    min-height: 100vh;
    max-height: 101vh;
    display: flex;
  }


}

/* iphone x */
@media only screen and (min-width: 737px)
                   and (max-width: 837px)
                   and (orientation: landscape) {

  .pantryContent{
    min-height: 140vh !important;
  }
  a.navbar-brand{
    margin: 0 !important;
  }
  .pantContainer h1{
    font-size: 25px;
    min-width: 30px !important;
  }
  .pantContainer h4{
    font-size: 20px;
  }
  .pantContainer input{
    font-size: 17px;
  }
  .esnVyi {
    min-height: 140vh !important;
  }
  .listRecipe{
    min-height: 90vh !important;

  }
  .listRecipe .newForm{
    min-height: 50vh !important;
    min-width: 77vw;
    margin-top: 7%;
      margin-bottom: 5%;
    overflow-x: scroll;
  }
  .listRecipe .editForm{
    min-height: 50vh !important;
    min-width: 77vw;
    margin-top: 7%;
    margin-bottom: 5%;
    overflow-x: scroll;
  }
  .navbar{
    max-height: 18vh !important;
    min-height: 17vh !important;
  }
  .navbar a{
    font-size: 20px !important;

  }
  .allRecipes{
    margin-top: 10%;
  }
  .allRecipes img{
    max-width: 110px;
    max-height: 110px;
  }
  .allRecipes a{
    font-size: 11px;
  }

  .listButton .btn{
    padding: 0.25rem;
  }
  .homePageContents{
    max-height: 130vh !important;
  }
  .homePageStyle{
    max-width: 80vw;
    max-height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;


  }
  .homePageStyle h1{
  font-size: 23px;
  display: flex;
  text-align: center;

  }
  .homePageStyle h4{
  font-size: 19px;
  text-align: left;
  padding: 3px;
  max-width: 80%;
  }
  .mediaHome{
    display: flex;
    flex-direction: column;
  }
}



/* iphone 6/7/8 */
@media only screen and (min-width: 500px)
                   and (max-width: 737px)
                   and (orientation: landscape){

  .inspirationPage{
    max-height: 150vh !important;
  }
  a.navbar-brand{
    margin: 0 !important;
  }
  a.nav-link{
    padding: 0.1px !important;
  }

  .landscapeButton .btn{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 3px;
    padding-left: 3px;

  }
  .esnVyi{
    max-height: 100vh !important;
  }
  .pantryContent{
    min-height: 140vh !important;
  }
  .pantContainer h1{
    font-size: 25px;
  }
  .pantContainer h4{
    font-size: 20px;
  }
  .pantContainer input{
    font-size: 17px;
  }
  .esnVyi {
    min-height: 140vh !important;
  }
  .listRecipe{
    min-height: 90vh !important;

  }
  .listRecipe .newForm{
    min-height: 50vh !important;
    min-width: 77vw;
    margin-top: 7%;
      margin-bottom: 5%;
    overflow-x: scroll;
  }
  .listRecipe .editForm{
    min-height: 50vh !important;
    min-width: 77vw;
    margin-top: 7%;
    margin-bottom: 5%;
    overflow-x: scroll;
  }

  .navbar img{
    max-width: 40px !important;
    max-height: 40px !important;
    padding-left: 10%;
  }
  .navbar h3{
    display: none;
  }
  .navbar a{
    font-size: 13px !important;

  }
  .allRecipes{
    margin-top: 10%;
  }
  .allRecipes img{
    max-width: 110px;
    max-height: 110px;
  }
  .allRecipes a{
    font-size: 11px;
  }

  .listButton .btn{
    padding: 0.25rem;
  }

  .homePageStyle{
    max-width: 80vw;
    max-height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;

  }

  .homePageStyle h1{
  font-size: 23px;
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;

  }
  .homeRecipe{
    min-width: 25%;
  }
  .homePageStyle h4{
  font-size: 14px;
  text-align: left;
  padding: 2px;
  max-width: 80%;
  }
  .mediaHome{
    display: flex;
    flex-shrink: 4;
    flex-direction: column;
  }
}
